.bio-container {
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.author-headshot {
  @include circular-photo($author-photo-size);
}

.author-bio {
  @include sidebar-copy;
  display: inline-block;
  width: calc(100% - 120px);
  margin-left: 20px;
}
