.bio {
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.bio-headshot {
  @include circular-photo($author-photo-size);
}

.bio-description{
  @include text-sidebar;
  display: inline-block;
  width: calc(100% - 120px);
  margin-left: 20px;
}

.bibliography {
  margin-left: $gutter-width;
  width: $body-width;
  @include text-bibliography;
}
