.bio {
  margin-bottom: 50px;
}

.bio-headshot {
  display: block;
  margin: 20px auto;
  width: $gutter-width;
  vertical-align: top;

  @include past($break-small) {
    display: inline-block;
    margin: 0 auto;
  }

  div {
    @include circular-photo($author-photo-size);
    margin: 0 auto;

    img {
      max-width: none;
    }
  }
}

.bio-description{
  @include text-sidebar;
  @include past($break-small) {
    display: inline-block;
    width: $body-width;
  }
}

.bibliography {
  @include text-bibliography;

  @include past($break-small) {
    margin-left: $gutter-width;
    width: $body-width;
  }
}
