.thesis-copy {
  display: inline-block;

  section[data-field="copy"] {
    width: 95%;
    float: right;

    @include past($break-small) {
      width: $body-width;

      p {
        margin-top: 0;
      }
    }
  }

  section[data-field="citation"] {
    @include text-citation;
    float: left;
    padding-left: 5%;

    p {
      word-wrap: break-word;

      &:before {
        display: inline-block;
        content: "";
        position: relative;
        height: 1px;
        margin-bottom: 5px;
        width: 100%;
        background-color: $color-black;
      }
    }

    @include past($break-small) {
      display: block;
      width: $gutter-width;
      padding-left: 0;
      padding-right: 20px;
    }
  }

  section[data-field="quote"] {
    float: right;

    @include text-inlineQuote;
    @include past($break-small) {
      width: $body-width - 5%;
      padding-right: 5%;
    }
  }

  section[data-field="inline-figure"] {
    float: left;
    padding-left: 5%;

    img {
      width: 100%;
      height: auto;
    }

    @include past($break-small) {
      display: block;
      width: $gutter-width;
      padding-left: 0;
      padding-right: 20px;
    }
  }

  section[data-field="figure-caption"] {
    @include text-caption;
    float: left;
    padding-left: 5%;

    @include past($break-small) {
      display: block;
      width: $gutter-width;
      padding-left: 0;
      padding-right: 20px;
    }
  }
}
