.meta {
  @include text-sidebar;

  width: 100%;
  padding-left: 10%;
  vertical-align: top;
  display: inline-block;

  @include past($break-small) {
    padding-left: 0;
    padding-right: 10px;
    width: $gutter-width;
    display: inline-block;
    float: left;
  }

  p {
    margin: 0;
  }

  div {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;

    @include past($break-small) {
      display: block;
      width: 100%;
    }
  }
}

.meta-advisors {
  margin-bottom: 10px;
  margin-top: 0;

  &:after {
    content: "";
    border-bottom: .5px solid $color-black;
    display: block;
    width: 30%;
    min-width: 60px;
  }
}

.meta-advisor {
  display: inline-block;
  margin-bottom: 10px;
  width: 50%;

  @include past($break-small) {
    width: 100%;
  }

  p {
    margin: 0;
  }
}
