section.footer
  div.about
    img(src="/assets/images/masthead-white.svg")
    p The NURJ serves to promote and encourage undergraduate research at Northwestern University by providing an outlet for students to showcase their work.
  div.links
    div.contact
      ul Contact
        li Email
          a(href="#")
        li Facebook
          a(href="#")
        li Twitter
          a(href="#")
    div.submissions
      ul Submissions
        li Guidelines
          a(href="#")
        li How to Submit
          a(href="#")
    div.resources
      ul Resources
        li Office of Undergraduate Research
          a(href="#")
        li Index of Undergraduate Research Grants
          a(href="#")
    div.get-involved
      ul Get Involved
        li Writing
          a(href="#")
        li Editorial
          a(href="#")
        li Design
          a(href="#")
