doctype html(lang='en')

head
  title Northwestern Undergraduate Research Journal
  link(rel="stylesheet", href="/stylesheets/layouts/issues.css")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/vendors/highlight.min.js")

block body
  include ../components/header.pug
  section.container
    div.issues
      h2.issues-title Index of Issues
        each issue in issues
          div.issue
            a(href=ctx.linkResolver(issue) class='issue-title')
              != issue.getText("issue.title")
            p.issue-publishDate
              != issue.getDate('issue.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
            if issue.getImage('issue.cover-photo')
              div.issue-cover
                img(src=issue.getImage('issue.cover-photo').url)
            if issue.getText('issue.blurb')
              div.issue-blurb
                p
                  != issue.get('issue.blurb').asHtml()
            
  include ../components/footer.pug
script(src="/javascript/landing.js")
