doctype html(lang='en')

head
  title Northwestern Undergraduate Research Journal
  link(rel="stylesheet", href="/stylesheets/layouts/issue.css")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/vendors/highlight.min.js")

block body
  include ../components/header.pug
  section.container
    div.issue
      div.issue-info
        p.issue-title
          != issue.get("issue.title").asHtml()
        p.issue-publishDate
          != issue.getDate('issue.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
        if issue.getText('issue.blurb')
          div.issue-blurb
            p
              != issue.get('issue.blurb').asHtml()
      if issue.getImage('issue.cover-photo')
        div.issue-cover
          img(src=issue.getImage('issue.cover-photo').url)
      each post in content
        if post.type == 'thesis'
          div.post-thesis
            p.post-department
              != post.getText("thesis.department") || ""
            a(href=ctx.linkResolver(post) class="post-title")
              != post.getText("thesis.title") + (post.getText("thesis.subtitle") ? ": " + post.getText("thesis.subtitle") : "")
            p.post-author
              each item in post.getGroup("thesis.byline").toArray()
                != item.getText("author") || ""
  include ../components/footer.pug
script(src="/javascript/landing.js")
