doctype html(lang='en')

head
  title Northwestern Undergraduate Research Journal
  link(rel="stylesheet", href="/stylesheets/layouts/landing.css")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/vendors/highlight.min.js")

block body
  include ../components/header.pug
  section.container
    div.splash
  section.container
    div.feed
      -
        var i = 1
      each post in posts
        if post.type == "thesis"
          -
            var size = (i % 3 == 0) && post.getGroup("thesis.hero-image") ? 'post-lg' : 'post-sm'
            var modifier = i % 6 == 0 ? 'post-reversed' : ''
            i += 1

          div(class="post " + size + " " + modifier)
            a.post-department
              != post.getText("thesis.department")
            if post.getGroup("thesis.hero-image")
              each hero in post.getGroup('thesis.hero-image').toArray()
                a(href=ctx.linkResolver(post) class="post-heroLink")
                  img(src=hero.getImage('image').url class="post-hero")
            div.post-info
              h2.post-title
                a(href=ctx.linkResolver(post))
                  != post.getText("thesis.title")
              h3.post-subtitle
                != post.getText("thesis.subtitle")
              p.post-meta
                span
                  each item in post.getGroup("thesis.byline").toArray()
                    != item.getText("author") + " | "
                span
                  != post.getDate('thesis.publish-date').toLocaleDateString('en', {month: 'long', year: 'numeric'})
  include ../components/footer.pug
