svg(id="filters" xmlns="http://www.w3.org/2000/svg" height="0")
  filter(id="purple" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%")
      feColorMatrix(type="matrix" values="0.48 0 0 0 0.52 0 0.88 0 0 0.12 0 0 0.01 0 0.99 0 0 0 1 0")
