section.footer-container
  include ../components/arrow.pug
  div.footer
    div.footer-about
      img(src="/assets/images/masthead-white.svg")
      p The NURJ serves to promote and encourage undergraduate research at Northwestern University by providing an outlet for students to showcase their work.
    div.footer-links
      div.footer-contact
        ul Contact
          li
            a(class="link" href="mailto: northwestern.urj@gmail.com") Email
          li
            a(class="link" href="https://www.facebook.com/nuresearch/") Facebook
          li
            a(class="link" href="https://twitter.com/NU_research") Twitter
      div.footer-submissions
        ul Submissions
          li
            a(class="link" href="/guidelines") Guidelines
          li
            a(class="link" href="/submit") How to Submit
      div.footer-resources
        ul Content
          li
            a(class="link" href="/index") Theses
          li
            a(class="link" href="/features") Features
            li
              a(class="link" href="/issues") Issues
      div.footer-getInvolved
        ul Get Involved
          li
            a(class="link" href="/join#writing") Writing
          li
            a(class="link" href="/join#editorial") Editorial
          li
            a(class="link" href="/join#design") Design
