section.footer-container
  div.footer
    div.about
      img(src="/assets/images/masthead-white.svg")
      p The NURJ serves to promote and encourage undergraduate research at Northwestern University by providing an outlet for students to showcase their work.
    div.links
      div.contact
        ul Contact
          li
            a(href="#") Email
          li
            a(href="#") Facebook
          li
            a(href="#") Twitter
      div.submissions
        ul Submissions
          li
            a(href="#") Guidelines
          li
            a(href="#") How to Submit
      div.resources
        ul Resources
          li
            a(href="#") Office of Undergraduate Research
          li
            a(href="#") Index of Undergraduate Research Grants
      div.get-involved
        ul Get Involved
          li
            a(href="#") Writing
          li
            a(href="#") Editorial
          li
            a(href="#") Design
