section.footer-container
  include ../components/arrow.pug
  div.footer
    div.about
      img(src="/assets/images/masthead-white.svg")
      p The NURJ serves to promote and encourage undergraduate research at Northwestern University by providing an outlet for students to showcase their work.
    div.links
      div.contact
        ul Contact
          li
            a(class="link" href="#") Email
          li
            a(class="link" href="#") Facebook
          li
            a(class="link" href="#") Twitter
      div.submissions
        ul Submissions
          li
            a(class="link" href="#") Guidelines
          li
            a(class="link" href="#") How to Submit
      div.resources
        ul Resources
          li
            a(class="link" href="#") Office of Undergraduate Research
          li
            a(class="link" href="#") Index of Undergraduate Research Grants
      div.get-involved
        ul Get Involved
          li
            a(class="link" href="#") Writing
          li
            a(class="link" href="#") Editorial
          li
            a(class="link" href="#") Design
