section.footer-container
  include ../components/arrow.pug
  div.footer
    div.footer-about
      img(src="/assets/images/masthead-white.svg")
      p The NURJ serves to promote and encourage undergraduate research at Northwestern University by providing an outlet for students to showcase their work.
    div.footer-links
      div.footer-contact
        ul Contact
          li
            a(class="link" href="mailto: northwestern.urj@gmail.com") Email
          li
            a(class="link" href="https://www.facebook.com/nuresearch/") Facebook
          li
            a(class="link" href="https://twitter.com/NU_research") Twitter
      div.footer-resources
        ul Content
          li
            a(class="link" href="/theses") Theses
          li
            a(class="link" href="/features") Features
            li
              a(class="link" href="/issues") Issues
      div.footer-contribute
        ul Contribute
          li
            a(class="link" href="/submit") Submit Work
          li
            a(class="link" href="/join") Join the NURJ
