section.header-container
  div.header.is-sticky.is-down
    a(href="/")
      div.header-masthead
    input(type="checkbox" id="is-open" class="is-open")
    label(for="is-open")
    div.header-nav
      ul.header-navList
        li
          a(href="/about") About
        li
          a(href="#") All Theses
        li
          a(href="#") Archive
        li
          a(href="#") Submit
