section.header-container
  div.header
    div.header-masthead
      a(href="/")
        img(src="/assets/images/masthead.svg")
    input(type="checkbox" id="is-open" class="is-open")
    label(for="is-open")
    div.header-nav
      ul.header-navList
        li
          a(href="#") About
        li
          a(href="#") All Theses
        li
          a(href="#") Archive
        li
          a(href="#") Submit
