.footer-container {
  -webkit-font-smoothing: antialiased;
  background-color: $color-black;
  padding: 40px 20px;
  color: $color-white;
  padding-bottom: 100px;
  position: relative;
  margin-top: 120px;

  @include past($break-medium) {
    padding: 40px;
    padding-bottom: 120px;
  }
}

.footer {
  @include past($break-large) {
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
  }
}

.footer-about,
.footer-links {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

.footer-about {
  @include font-text;
  font-size: $fontSize-4;
  line-height: $lineHeight-5;

  @include past($break-medium) {
    width: 40%;
    margin-right: 5%;
  }
}

.footer-about p {
  max-width: 300px;
}

.footer-about img {
  width: 200px;
}

.footer-links {
  @include past($break-medium) {
    width: 50%;
  }

  @include past($break-large) {
    max-width: 500px;
  }
}

.footer-links div {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding-right: 10px;

  @include past($break-large) {
    width: 25%;
  }
}

.footer-links ul {
  @include font-secondary;
  font-size: 14px;
}

.footer-links ul li {
  margin-top: 10px;
}

.footer-links ul li a {
  font-size: 12px;
  color: $color-white;
}
