@import "../_base";
@import "../_variables";

.header-container {
  height: 150px;

  @include past($break-small) {
    padding-left: 5%;
  }

  @include past($break-medium) {
    margin-bottom: 50px;
  }
}

.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.header-sticky {
  position: fixed;
  transition: .2s all ease;
  height: 60px;
  top: -60px;
  z-index: 9;
  padding-top: 15px;
  background-color: $color-background;

  @include past($break-medium) {
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    width: 200px;

    &.collide {
      opacity: 0;
    }
  }

  &.show {
    top: 0;
  }
}

.header-sticky .masthead,
.header-sticky label[for="nav-open"]:before,
.header-sticky .nav {
  opacity: 0.6;
}

.header-sticky:hover .masthead,
.header-sticky:hover label[for="nav-open"]:before,
.header-sticky:hover .nav {
  opacity: 1;
}

.masthead {
  display: inline-block;

  img {
    width: 100px;

    @include past($break-small) {
      width: 150px;
    }
  }
}

.nav {
  background-color: rgba(241, 241, 241, 0);
  @include transition(.3s all ease);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  background-color: $color-black;
  padding: 20px;
  z-index: -1;

  .nav-list {
    @include Cousine;
    li a {
      text-decoration: none;
      line-height: 3rem;
      color: $color-white;
    }
  }

  @include past($break-medium) {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    left: auto;
    padding: 0;
    transition: none;
    z-index: 1;

    .nav-list li a{
      color: $color-black;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.nav-open {
  position: relative;
  clip: rect(0, 0, 0, 0);
  z-index: 4;
  display: none;

  &:checked {
    & ~ label:before {
      content: "Close";
      color: $color-white;
    }

    & ~ .nav {
      left: 10%;
      z-index: 2;
    }
  }
}

label[for="nav-open"] {
  @include Cousine;
  position: relative;
  float: right;
  z-index: 4;

  &:before {
    display: inline-block;
    line-height: 36px;
    content: "Menu"
  }

  @include past($break-medium) {
    display: none;
  }
}
