extends ./layout.pug

block body
  div
    //- This is how to get an image into your template
    //- This is how to get a structured text into your template
    !=pageContent.getStructuredText('thesis.body').asHtml(ctx.linkResolver)
    !=pageContent.getText('thesis.author')
    !=pageContent.getText('thesis.title')
