// TODO: refactor this whole mess to not use nested styles
.post {
  margin-bottom: 20px;
  @include transition(color .3s 0s);

  &:not(:first-child):before {
    content: "";
    margin-bottom: 20px;
    height: 1px;
    background-color: $color-grey;
    display: block;
  }

  @include past($break-small) {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;

    &:not(:first-child):before {
      display: none;
    }
  }

  @include past($break-medium) {
    box-sizing: content-box;

    &.post-sm {
      width: 33%;
    }

    &.post-md {
      width: 50%;
    }

    &.post-lg {
      width: 80%;

      .post-department {
        width: 30%;
        padding-left: 20px;
      }

      .post-heroLink {
        width: 60%;
        float: left;
      }

      img {
        max-width: 100%;
        float: left;
      }

      .post-info {
        display: inline-block;
        width: 40%;
        padding-left: 20px;
      }

      &.post-reversed {
        text-align: right;

        .post-heroLink {
          float: right;
        }

        .post-info,
        .post-department {
          padding-right: 20px;
          padding-left: 0;
        }
      }
    }
  }
}

.post:hover .post-department {
  color: $color-purple;
}

.post:hover .post-heroLink {
  -webkit-filter: grayscale(100%) url('/#purple');
  filter: grayscale(100%) url('/#purple');
}

.post:hover .post-info .post-title a,
.post:hover .post-info .post-subtitle,
.post:hover .post-info .post-meta {
  color: $color-purple;
}

.post .post-heroLink {
  display: block;
}

.post .post-heroLink:hover ~ .post-info .post-title a,
.post .post-heroLink:hover ~ .post-info .post-title a,
.post .post-heroLink:hover ~ .post-info .post-subtitle,
.post .post-heroLink:hover ~ .post-info .post-meta, {
  color: $color-purple;
}

.post .post-hero {
  width: 100%;
  margin: 5px 0;
}

.post .post-title {
  @include post-title;
}

.post .post-title a {
  text-decoration: none;
}

.post .post-subtitle {
  @include post-subtitle;
}

.post .post-lede {
  position: relative;
  font-weight: 300;
  @include font-primary;
  font-size: $fontSize-5;
  line-height: $lineHeight-6;
  margin-top: 10px;

  &:before {
    content: "“";
    position: absolute;
    left: -10px;
  }
}

.post .post-lede a {
  text-decoration: none;
}

.post .post-department {
  @include post-department;
  display: inline-block;
}

.post .post-meta {
  @include post-meta;
}
