@import "../_base";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.error {
  width: 100vw;
}

.message {
  max-width: 400px;
  margin: 0 auto;
  padding: 150px 20px;
}

.message h1 {
  @include font-primary;
  font-size: $fontSize-8;
  text-align: center;
}

.message p {
  @include font-text;
}
