@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"), url("../../assets/fonts/lava-regular-italic.otf") format("otf"), url("../../assets/fonts/lava-heavy.otf") format("otf"); }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"), url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"), url("../../assets/fonts/noe-display-bold.otf") format("otf"), url("../../assets/fonts/noe-display-bold-italic.otf") format("otf"); }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"), url("../../assets/fonts/cousine-italic.otf") format("otf"); }

.container {
  width: 100%; }

body {
  background-color: #f1f1f1;
  margin: 0; }

.header {
  width: 100%;
  padding-left: 20px;
  height: 150px; }
  @media screen and (min-width: 768px) {
    .header {
      padding-left: 60px; } }

.masthead {
  display: inline-block; }
  .masthead img {
    margin-top: 40px;
    width: 100px; }

.nav {
  background-color: rgba(241, 241, 241, 0);
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  padding: 20px;
  z-index: -1; }
  .nav .nav-list {
    font-family: "Cousine", "Menlo", monospace; }
    .nav .nav-list li a {
      text-decoration: none;
      line-height: 3rem;
      color: #f1f1f1; }

.nav-open {
  position: relative;
  clip: rect(0, 0, 0, 0);
  z-index: 4;
  display: none; }
  .nav-open:checked ~ label:before {
    content: "Close";
    color: #f1f1f1; }
  .nav-open:checked ~ .nav {
    left: 10%;
    z-index: 2; }

label[for="nav-open"] {
  font-family: "Cousine", "Menlo", monospace;
  position: relative;
  float: right;
  vertical-align: bottom;
  z-index: 4; }
  label[for="nav-open"]:before {
    content: "Menu"; }
