@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"), url("../../assets/fonts/lava-regular-italic.otf") format("otf"), url("../../assets/fonts/lava-heavy.otf") format("otf"); }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"), url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"), url("../../assets/fonts/noe-display-bold.otf") format("otf"), url("../../assets/fonts/noe-display-bold-italic.otf") format("otf"); }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"), url("../../assets/fonts/cousine-italic.otf") format("otf"); }

.container {
  width: 100%; }

body {
  background-color: #f1f1f1; }

@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"), url("../../assets/fonts/lava-regular-italic.otf") format("otf"), url("../../assets/fonts/lava-heavy.otf") format("otf"); }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"), url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"), url("../../assets/fonts/noe-display-bold.otf") format("otf"), url("../../assets/fonts/noe-display-bold-italic.otf") format("otf"); }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"), url("../../assets/fonts/cousine-italic.otf") format("otf"); }

.container {
  width: 100%; }

body {
  background-color: #f1f1f1; }

.header {
  width: 100%;
  padding-left: 20px;
  height: 150px; }
  @media screen and (min-width: 768px) {
    .header {
      padding-left: 60px; } }

.masthead {
  display: inline-block; }
  .masthead img {
    margin-top: 40px;
    width: 100px; }

.nav {
  background-color: rgba(241, 241, 241, 0);
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  padding: 20px;
  z-index: -1; }
  .nav .nav-list {
    font-family: "Cousine", "Menlo", monospace; }
    .nav .nav-list li a {
      text-decoration: none;
      line-height: 3rem;
      color: #f1f1f1; }

.nav-open {
  position: relative;
  clip: rect(0, 0, 0, 0);
  z-index: 4;
  display: none; }
  .nav-open:checked ~ label:before {
    content: "Close";
    color: #f1f1f1; }
  .nav-open:checked ~ .nav {
    left: 10%;
    z-index: 2; }

label[for="nav-open"] {
  font-family: "Cousine", "Menlo", monospace;
  position: relative;
  float: right;
  vertical-align: bottom;
  z-index: 4; }
  label[for="nav-open"]:before {
    content: "Menu"; }

@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"), url("../../assets/fonts/lava-regular-italic.otf") format("otf"), url("../../assets/fonts/lava-heavy.otf") format("otf"); }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"), url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"), url("../../assets/fonts/noe-display-bold.otf") format("otf"), url("../../assets/fonts/noe-display-bold-italic.otf") format("otf"); }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"), url("../../assets/fonts/cousine-italic.otf") format("otf"); }

.container {
  width: 100%; }

body {
  background-color: #f1f1f1; }

.footer {
  background-color: #111111;
  padding: 100px;
  color: #f1f1f1; }
  .footer .about, .footer .links {
    vertical-align: top;
    display: inline-block; }

.about {
  font-family: "Lava", Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.5rem;
  width: 20%; }
  .about img {
    width: 100%;
    margin-bottom: 20px; }

.links {
  float: right; }
  .links div {
    vertical-align: top;
    display: inline-block;
    padding-left: 40px; }
  .links ul {
    font-family: "Cousine", "Menlo", monospace;
    font-size: 14px;
    width: 150px; }
    .links ul li {
      margin-top: 10px;
      font-size: 12px; }

.content {
  width: 90%;
  margin-left: 5%; }

.department {
  font-family: "Cousine", "Menlo", monospace;
  text-transform: uppercase; }

.author {
  font-family: "Noe Display", serif;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px; }
  .author:after {
    content: "—"; }

.title {
  font-family: "Noe Display", serif;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.5rem; }

.advisors-container {
  width: 100%;
  margin-bottom: 10px; }
  .advisors-container:after {
    content: "";
    margin-top: 10px;
    border-bottom: 0.5px solid #111111;
    display: block;
    width: 30%;
    max-width: 100px; }

.advisor {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 9px;
  line-height: 12px;
  display: inline-block; }
  .advisor:not(:first-child) {
    margin-left: 10px; }
  .advisor p {
    margin: 0; }

.publish-date {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 9px;
  line-height: 12px;
  margin-bottom: 20px; }
  .publish-date:before {
    content: "Published";
    display: block; }

.body {
  font-family: "Lava", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: .01rem; }
  @media screen and (min-width: 768px) {
    .body {
      font-size: 1.25rem; } }
  .body > * {
    padding-left: 10%; }

a[href^="http://["] {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 9px;
  text-decoration: none;
  position: relative;
  top: -1em;
  pointer-events: none;
  color: #111111; }

.citation {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 9px;
  line-height: 12px; }

.subhead {
  font-family: "Cousine", "Menlo", monospace;
  text-transform: uppercase;
  font-size: 14px; }
  .subhead h3 {
    margin-top: 30px;
    margin-bottom: 30px; }

.figure-item {
  width: 100%; }
  .figure-item img {
    width: 100%; }
  .figure-item .image-attribution {
    display: block;
    margin-top: 4px;
    font-family: "Cousine", "Menlo", monospace;
    font-size: 9px;
    line-height: 12px;
    text-align: right; }

.pullquote {
  font-family: "Noe Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 0; }
  .pullquote:before {
    content: "";
    display: block;
    width: 30%;
    max-width: 200px;
    height: 5px;
    background-color: #111111;
    margin-bottom: 20px; }

.sidebar {
  padding-left: 0; }
