@charset "UTF-8";
@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"), url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"), url("../../assets/fonts/noe-display-bold.otf") format("otf"), url("../../assets/fonts/noe-display-bold-italic.otf") format("otf"); }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"), url("../../assets/fonts/cousine-italic.otf") format("otf"); }

@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"), url("../../assets/fonts/lava-regular-italic.otf") format("otf"), url("../../assets/fonts/lava-heavy.otf") format("otf"); }

.thesis {
  width: 100vw;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10vh; }

.department {
  font-family: "Cousing", "Menlo", monospace;
  text-transform: uppercase;
  transform: rotate(-90deg);
  display: inline-block;
  position: fixed;
  left: -50vw;
  text-align: center;
  top: 50vh;
  width: 100vh;
  vertical-align: baseline; }

.author {
  font-family: "Noe Display", serif;
  font-style: italic;
  font-size: 2rem; }
  .author:after {
    content: "—"; }

.title {
  font-family: "Noe Display", serif;
  font-weight: 700;
  line-height: 2.9rem;
  font-size: 3rem;
  margin-bottom: 50px; }

.sidebar {
  display: inline-block;
  width: 30%; }

.body {
  display: inline-block;
  width: 70%; }
