@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  margin: 0; }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-bold.eot");
  src: url("../../assets/fonts/noe/noe-display-bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-bold.woff") format("woff"), url("../../assets/fonts/noe/noe-display-bold.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-bold-italic.eot");
  src: url("../../assets/fonts/noe/noe-display-bold-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-bold-italic.woff") format("woff"), url("../../assets/fonts/noe/noe-display-bold-italic.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-bold-italic.svg") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-regular-italic.eot");
  src: url("../../assets/fonts/noe/noe-display-regular-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-regular-italic.woff") format("woff"), url("../../assets/fonts/noe/noe-display-regular-italic.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-regular-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-regular.eot");
  src: url("../../assets/fonts/noe/noe-display-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-regular.woff") format("woff"), url("../../assets/fonts/noe/noe-display-regular.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine/cousine-regular.eot");
  src: url("../../assets/fonts/cousine/cousine-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/cousine/cousine-regular.woff") format("woff"), url("../../assets/fonts/cousine/cousine-regular.ttf") format("truetype"), url("../../assets/fonts/cousine/cousine-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine/cousine-italic.eot");
  src: url("../../assets/fonts/cousine/cousine-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/cousine/cousine-italic.woff") format("woff"), url("../../assets/fonts/cousine/cousine-italic.ttf") format("truetype"), url("../../assets/fonts/cousine/cousine-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.container {
  width: 100%; }

body {
  background-color: #fffbf7;
  margin: 0; }

a {
  color: #111111; }

a.link {
  transition: background-color .2s linear;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
  text-decoration: none; }

a.link:hover {
  padding: 2px;
  margin-left: -2px;
  background-image: none;
  background-color: #861FFC;
  background-size: cover; }

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .content {
      width: 70%;
      max-width: 990px; } }

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6, .title p, .title span, .title a {
  font-family: "Noe Display", serif;
  font-weight: bold;
  font-size: 2.827rem;
  line-height: 2.827rem;
  margin-bottom: 8px;
  margin: 0; }
  @media screen and (min-width: 992px) {
    .title h1, .title h2, .title h3, .title h4, .title h5, .title h6, .title p, .title span, .title a {
      line-height: 3.998rem;
      font-size: 3.998rem; } }

.subtitle h1, .subtitle h2, .subtitle h3, .subtitle h4, .subtitle h5, .subtitle h6, .subtitle p, .subtitle span, .subtitle a {
  font-family: "Cousine", "Menlo", monospace;
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    .subtitle h1, .subtitle h2, .subtitle h3, .subtitle h4, .subtitle h5, .subtitle h6, .subtitle p, .subtitle span, .subtitle a {
      font-size: 1.3rem;
      width: 80%;
      max-width: 600px; } }

.body {
  font-family: "Athelas", Cambria, Times, serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 40px;
  position: relative;
  clear: both; }
  @media screen and (min-width: 480px) {
    .body {
      font-size: 1.25rem;
      line-height: 2rem; } }
  @media screen and (min-width: 992px) {
    .body {
      margin-top: 60px; } }
  .body:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-bottom: 20px; }
  .body > p {
    padding-left: 10%; }
    @media screen and (min-width: 768px) {
      .body > p {
        padding-left: 25%; } }

.subhead {
  font-family: "Cousine", "Menlo", monospace;
  text-transform: uppercase;
  font-size: 16px; }
  .subhead h3 {
    margin-top: 30px;
    margin-bottom: 30px; }
    @media screen and (min-width: 480px) {
      .subhead h3 {
        padding-left: 25%; } }

.hero {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 40px; }

.figure {
  margin: 40px 0; }

img {
  max-width: 100%; }

.figure,
.hero {
  position: relative; }
  .figure img,
  .hero img {
    display: block;
    margin: 0 auto; }
  .figure .figure-attribution,
  .figure .hero-attribution,
  .hero .figure-attribution,
  .hero .hero-attribution {
    word-wrap: break-word;
    font-family: "Cousine", "Menlo", monospace;
    font-size: 0.354rem;
    line-height: 0.707rem;
    margin-top: 10px;
    display: inline-block;
    color: #95989A;
    vertical-align: top; }
    .figure .figure-attribution p, .figure .figure-attribution h1, .figure .figure-attribution h2, .figure .figure-attribution h3, .figure .figure-attribution h4, .figure .figure-attribution h5, .figure .figure-attribution h6, .figure .figure-attribution span,
    .figure .hero-attribution p,
    .figure .hero-attribution h1,
    .figure .hero-attribution h2,
    .figure .hero-attribution h3,
    .figure .hero-attribution h4,
    .figure .hero-attribution h5,
    .figure .hero-attribution h6,
    .figure .hero-attribution span,
    .hero .figure-attribution p,
    .hero .figure-attribution h1,
    .hero .figure-attribution h2,
    .hero .figure-attribution h3,
    .hero .figure-attribution h4,
    .hero .figure-attribution h5,
    .hero .figure-attribution h6,
    .hero .figure-attribution span,
    .hero .hero-attribution p,
    .hero .hero-attribution h1,
    .hero .hero-attribution h2,
    .hero .hero-attribution h3,
    .hero .hero-attribution h4,
    .hero .hero-attribution h5,
    .hero .hero-attribution h6,
    .hero .hero-attribution span {
      margin: 0; }
    @media screen and (min-width: 480px) {
      .figure .figure-attribution,
      .figure .hero-attribution,
      .hero .figure-attribution,
      .hero .hero-attribution {
        line-height: 1.25rem; } }
    @media screen and (min-width: 480px) {
      .figure .figure-attribution,
      .figure .hero-attribution,
      .hero .figure-attribution,
      .hero .hero-attribution {
        margin-top: 12px;
        padding-right: 10px;
        width: 25%;
        float: left; } }
  .figure .figure-caption,
  .figure .hero-caption,
  .hero .figure-caption,
  .hero .hero-caption {
    margin: 10px auto; }
    .figure .figure-caption p, .figure .figure-caption h3,
    .figure .hero-caption p,
    .figure .hero-caption h3,
    .hero .figure-caption p,
    .hero .figure-caption h3,
    .hero .hero-caption p,
    .hero .hero-caption h3 {
      font-family: "Cousine", "Menlo", monospace;
      font-size: 0.707rem;
      line-height: 1.25rem;
      font-weight: normal; }
    @media screen and (min-width: 480px) {
      .figure .figure-caption,
      .figure .hero-caption,
      .hero .figure-caption,
      .hero .hero-caption {
        width: 50%; } }

#filters {
  height: 0; }

.post {
  margin-bottom: 20px;
  -moz-transition: color 0.3s 0s;
  -o-transition: color 0.3s 0s;
  -webkit-transition: color 0.3s 0s;
  transition: color 0.3s 0s; }
  .post:not(:first-child):before {
    content: "";
    margin-bottom: 20px;
    height: 1px;
    background-color: #95989A;
    display: block; }
  @media screen and (min-width: 480px) {
    .post {
      padding: 20px;
      box-sizing: border-box;
      width: 50%; }
      .post:not(:first-child):before {
        display: none; } }
  @media screen and (min-width: 768px) {
    .post {
      box-sizing: content-box; }
      .post.post-sm {
        width: 33%; }
      .post.post-md {
        width: 50%; }
      .post.post-lg {
        width: 80%; }
        .post.post-lg .post-department {
          width: 30%;
          padding-left: 20px; }
        .post.post-lg .post-heroLink {
          width: 60%;
          float: left; }
        .post.post-lg img {
          max-width: 100%;
          float: left; }
        .post.post-lg .post-info {
          display: inline-block;
          width: 40%;
          padding-left: 20px; }
        .post.post-lg.post-reversed {
          text-align: right; }
          .post.post-lg.post-reversed .post-heroLink {
            float: right; }
          .post.post-lg.post-reversed .post-info,
          .post.post-lg.post-reversed .post-department {
            padding-right: 20px;
            padding-left: 0; } }

.post:hover .post-department {
  color: #861FFC; }

.post:hover .post-heroLink {
  -webkit-filter: grayscale(100%) url("#purple");
  filter: grayscale(100%) url("#purple"); }

.post:hover .post-info .post-title a,
.post:hover .post-info .post-subtitle,
.post:hover .post-info .post-meta {
  color: #861FFC; }

.post .post-heroLink {
  display: inline-block; }
  .post .post-heroLink:hover {
    -webkit-filter: grayscale(100%) url("#purple");
    filter: grayscale(100%) url("#purple"); }
    .post .post-heroLink:hover ~ .post-info .post-title a,
    .post .post-heroLink:hover ~ .post-info .post-title a,
    .post .post-heroLink:hover ~ .post-info .post-subtitle,
    .post .post-heroLink:hover ~ .post-info .post-meta {
      color: #861FFC; }

.post .post-hero {
  width: 100%;
  margin: 5px 0; }

.post .post-title {
  font-family: "Noe Display", serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.999rem;
  line-height: 1.999rem; }
  @media screen and (min-width: 992px) {
    .post .post-title {
      font-size: 2.827rem;
      line-height: 2.827rem; } }
  .post .post-title a {
    text-decoration: none; }

.post .post-subtitle {
  font-family: "Cousine", "Menlo", monospace;
  font-weight: normal;
  margin-top: 10px;
  font-size: 0.707rem;
  line-height: 1.25rem; }

.post .post-lede {
  position: relative;
  font-weight: 300;
  font-family: "Noe Display", serif;
  font-size: 1.414rem;
  line-height: 1.999rem;
  margin-top: 10px; }
  .post .post-lede a {
    text-decoration: none; }
  .post .post-lede:before {
    content: "“";
    position: absolute;
    left: -10px; }

.post .post-department {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 0.707rem;
  text-transform: uppercase;
  display: inline-block; }

.post .post-meta {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 0.707rem; }

.header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px; }
  @media screen and (min-width: 480px) {
    .header {
      padding-left: 5%; } }

.header.is-sticky {
  position: fixed;
  height: 65px;
  top: -70px;
  z-index: 9;
  padding-top: 15px;
  background-color: #fffbf7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-transition: top 0.3s 0s;
  -o-transition: top 0.3s 0s;
  -webkit-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
  animation: fadeIn .3s 1; }
  .header.is-sticky.is-down {
    top: 0; }
  @media screen and (min-width: 768px) {
    .header.is-sticky {
      box-shadow: none;
      margin-bottom: 50px;
      background-color: transparent;
      top: 0;
      width: 200px;
      padding-top: 30px; }
      .header.is-sticky.fadeOut {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear .3s, opacity .3s 0s; }
      .header.is-sticky.fadeIn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity .3s 0s; } }

@media screen and (min-width: 768px) {
  .header.is-sticky .header-masthead,
  .header.is-sticky label[for="is-open"]:before,
  .header.is-sticky .header-nav {
    opacity: 0.6;
    transition: opacity .1s linear; } }

@media screen and (min-width: 768px) {
  .header.is-sticky:hover .header-masthead,
  .header.is-sticky:hover label[for="is-open"]:before,
  .header.is-sticky:hover .header-nav {
    opacity: 1; } }

.header .header-masthead {
  display: inline-block;
  background-image: url("/assets/images/masthead.svg");
  width: 100px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (min-width: 768px) {
    .header .header-masthead {
      display: block;
      width: 150px; } }
  .header .header-masthead img {
    width: 100px; }
    @media screen and (min-width: 768px) {
      .header .header-masthead img {
        width: 150px; } }

.header .header-nav {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: rgba(241, 241, 241, 0);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  padding: 20px;
  z-index: -1; }
  .header .header-nav .header-navList {
    font-family: "Cousine", "Menlo", monospace; }
    .header .header-nav .header-navList li a {
      text-decoration: none;
      line-height: 3rem;
      color: #fbfbfb; }
  @media screen and (min-width: 768px) {
    .header .header-nav {
      position: relative;
      display: inline-block;
      background-color: transparent;
      left: auto;
      padding: 0;
      transition: none;
      z-index: 1;
      width: 150px; }
      .header .header-nav .header-navList li a {
        color: #111111;
        font-size: 12px;
        line-height: 14px; } }

.header .is-open {
  position: relative;
  clip: rect(0, 0, 0, 0);
  z-index: 4;
  display: none; }
  .header .is-open:checked ~ label:before {
    content: "Close";
    color: #fbfbfb; }
  .header .is-open:checked ~ .header-nav {
    left: 10%;
    z-index: 2; }

.header label[for="is-open"] {
  font-family: "Cousine", "Menlo", monospace;
  position: relative;
  float: right;
  z-index: 4; }
  .header label[for="is-open"]:before {
    display: inline-block;
    line-height: 36px;
    content: "Menu"; }
  @media screen and (min-width: 768px) {
    .header label[for="is-open"] {
      display: none; } }

@media screen and (min-width: 768px) {
  .header.inverted .header-navList li a {
    -webkit-font-smoothing: antialiased;
    color: #fbfbfb; }
  .header.inverted .header-masthead {
    background-image: url("/assets/images/masthead-white.svg"); } }

.footer-container {
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
  padding: 40px 20px;
  color: #fbfbfb;
  padding-bottom: 100px;
  position: relative;
  margin-top: 120px; }
  .footer-container .about, .footer-container .links {
    vertical-align: top;
    display: inline-block; }
  @media screen and (min-width: 768px) {
    .footer-container {
      padding: 40px;
      padding-bottom: 120px; } }
  @media screen and (min-width: 992px) {
    .footer-container .footer {
      margin-left: auto;
      margin-right: auto;
      max-width: 992px; } }

.about {
  font-family: "Athelas", Cambria, Times, serif;
  font-size: 1.25rem;
  line-height: 1.414rem; }
  .about p {
    max-width: 300px; }
  .about img {
    width: 200px; }
  @media screen and (min-width: 768px) {
    .about {
      width: 40%;
      margin-right: 5%; } }

.links div {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding-right: 10px; }

.links ul {
  font-family: "Cousine", "Menlo", monospace;
  font-size: 14px; }
  .links ul li {
    margin-top: 10px; }
    .links ul li a {
      font-size: 12px;
      color: #fbfbfb; }

@media screen and (min-width: 768px) {
  .links {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .links {
    max-width: 500px; }
    .links div {
      width: 25%; } }

.arrow {
  width: 50px;
  position: absolute;
  right: 10px;
  top: -40px; }
  @media screen and (min-width: 768px) {
    .arrow {
      right: 50px; } }
  .arrow.is-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: initial;
    animation: fadeIn .3s 1; }
    @media screen and (min-width: 768px) {
      .arrow.is-fixed {
        right: 50px; } }
  .arrow:hover {
    cursor: pointer; }

.arrow-polygon {
  fill: #861FFC; }

.issues {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  max-width: 990px; }
  @media screen and (min-width: 480px) {
    .issues {
      padding-top: 150px; } }

.issues-title {
  font-family: "Noe Display", serif;
  font-weight: normal; }

.issue {
  box-sizing: border-box;
  vertical-align: top;
  padding: 10px; }

.issue:not(:first-child) {
  display: inline-block;
  width: 50%; }

.issue-title {
  font-family: "Noe Display", serif;
  font-size: 1.999rem;
  font-weight: normal;
  margin-bottom: 0;
  text-decoration: none; }

.issue-publishDate {
  font-family: "Cousine", "Menlo", monospace;
  margin-top: 0;
  font-size: 0.707rem; }
