@import "_reset";
@import "_text";
@import "_variables";
@import "_utilities";
@import "_mixins";

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 100%;
}

body {
  background-color: $color-background;
  margin: 0;
}

a {
  color: $color-black;
}

a.link {
  transition: background-color .2s linear;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, .6) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
  text-decoration: none;
}

a.link:hover {
  padding: 2px;
  margin-left: -2px;
  background-image: none;
  background-color: $color-purple;
  background-size: cover;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include past($break-medium) {
    width: 70%;
    max-width: $max-content-width;
  }
}

.title {
  @include headline-copy;
}

.subtitle {
  @include subtitle-copy;

  @include past($break-medium) {
    font-size: 1.3rem;
    width: 80%;
    max-width: 600px;
  }
}

.body {
  @include body-copy;
  margin-top: 20px;

  @include past($break-large) {
    margin-top: 60px;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    margin-bottom: 20px;
  }

  & > p {
    padding-left: 10%;

    @include past($break-medium) {
      padding-left: $gutter-width;
    }
  }
}

.subhead {
  @include Cousine;
  text-transform: uppercase;
  font-size: 16px;

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;

    @include past($break-small) {
      padding-left: $gutter-width;
    }
  }
}

.hero {
  width: 100%;

  @include past($break-small) {
    width: $body-width;
    display: inline-block;
  }
}

.hero, .figure-item {
  position: relative;

  img {
    width: 100%;
    display: inline-block;
  }

  .image-attribution {
    @include attribution-copy;
    float:right;
    margin-right: -1px;
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform: translateX(100%) rotate(-90deg);
    -ms-transform: translateX(100%) rotate(-90deg);
    -webkit-transform: translateX(100%) rotate(-90deg);
  }

  .image-caption {
    @include caption-copy;
    margin-top: 5px;
  }
}
