@import "_reset";
@import "_text";
@import "_variables";
@import "_utilities";
@import "_mixins";
@import "_animations";

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 100%;
}

body {
  background-color: $color-background;
  margin: 0;
}

a {
  color: $color-black;
}

a.link {
  transition: background-color .2s linear;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, .6) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
  text-decoration: none;
}

a.link:hover {
  padding: 2px;
  margin-left: -2px;
  background-image: none;
  background-color: $color-purple;
  background-size: cover;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include past($break-medium) {
    width: 70%;
    max-width: $max-content-width;
  }
}

.title {
  h1 {
    @include text-headline;
    margin-bottom: 8px;
    margin: 0;
  }
}

.subtitle {
  h2 {
    @include text-subtitle;

    @include past($break-medium) {
      font-size: 1.3rem;
      width: 80%;
      max-width: 600px;
    }
  }
}

.body {
  @include text-body;
  margin-top: 40px;
  position: relative;

  @include past($break-large) {
    margin-top: 60px;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    margin-bottom: 20px;
  }

  & > p {
    padding-left: 10%;

    @include past($break-medium) {
      padding-left: $gutter-width;
    }
  }
}

.subhead {
  @include font-cousine;
  text-transform: uppercase;
  font-size: 16px;

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;

    @include past($break-small) {
      padding-left: $gutter-width;
    }
  }
}

.hero {
  width: 100%;
  float: right;
  margin-bottom: 40px;

  @include past($break-small) {
    width: $body-width;
    display: inline-block;
  }
}

.figure {
  margin: 40px 0;
}

.figure,
.hero {
  position: relative;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .figure-attribution,
  .hero-attribution {
    @include text-attribution;
    float: right;
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform: translateX(100%) rotate(-90deg);
    -ms-transform: translateX(100%) rotate(-90deg);
    -webkit-transform: translateX(100%) rotate(-90deg);
  }

  .figure-caption,
  .hero-caption {
    @include text-caption;
    margin: 10px auto;

    @include past($break-small) {
      width: 50%;
    }
  }
}
