@font-face {
  font-family: "Bembo";
  src: url("../../assets/fonts/et-book/et-book-roman-line-figures.eot");
  src: url("../../assets/fonts/et-book/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/et-book/et-book-roman-line-figures.woff") format("woff"), url("../../assets/fonts/et-book/et-book-roman-line-figures.ttf") format("truetype"), url("../../assets/fonts/et-book/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bembo";
  src: url("../../assets/fonts/et-book/et-book-display-italic-old-style-figures.eot");
  src: url("../../assets/fonts/et-book/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/et-book/et-book-display-italic-old-style-figures.woff") format("woff"), url("../../assets/fonts/et-book/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../../assets/fonts/et-book/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bembo";
  src: url("../../assets/fonts/et-book/et-book-bold-line-figures.eot");
  src: url("../../assets/fonts/et-book/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/et-book/et-book-bold-line-figures.woff") format("woff"), url("../../assets/fonts/et-book/et-book-bold-line-figures.ttf") format("truetype"), url("../../assets/fonts/et-book/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-bold.eot");
  src: url("../../assets/fonts/noe/noe-display-bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-bold.woff") format("woff"), url("../../assets/fonts/noe/noe-display-bold.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-bold-italic.eot");
  src: url("../../assets/fonts/noe/noe-display-bold-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-bold-italic.woff") format("woff"), url("../../assets/fonts/noe/noe-display-bold-italic.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-bold-italic.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-regular-italic.eot");
  src: url("../../assets/fonts/noe/noe-display-regular-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-regular-italic.woff") format("woff"), url("../../assets/fonts/noe/noe-display-regular-italic.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-regular-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe/noe-display-regular.eot");
  src: url("../../assets/fonts/noe/noe-display-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/noe/noe-display-regular.woff") format("woff"), url("../../assets/fonts/noe/noe-display-regular.ttf") format("truetype"), url("../../assets/fonts/noe/noe-display-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine/cousine-regular.eot");
  src: url("../../assets/fonts/cousine/cousine-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/cousine/cousine-regular.woff") format("woff"), url("../../assets/fonts/cousine/cousine-regular.ttf") format("truetype"), url("../../assets/fonts/cousine/cousine-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine/cousine-italic.eot");
  src: url("../../assets/fonts/cousine/cousine-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/cousine/cousine-italic.woff") format("woff"), url("../../assets/fonts/cousine/cousine-italic.ttf") format("truetype"), url("../../assets/fonts/cousine/cousine-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@mixin font-noe {
  font-family: "Noe Display", serif;
}

@mixin font-bembo {
  font-family: "Bembo", Cambria, "Times New Roman", Times, serif;
}

@mixin font-cousine {
  font-family: "Cousine", "Menlo", monospace;
}
