@import "_fonts";
@import "_variables";

@mixin text-folio {
  @include font-secondary;
  text-transform: uppercase;
  font-size: $fontSize-3;
}

@mixin text-byline {
  @include font-primary;
  font-style: italic;
  font-size: $fontSize-5;

  @include past($break-large) {
    font-size: $fontSize-7;
  }
}

@mixin text-headline {
  @include font-primary;
  font-weight: bold;
  font-size: $fontSize-7;
  line-height: $lineHeight-7;

  @include past($break-large) {
    line-height: $lineHeight-8;
    font-size: $fontSize-8;
  }
}

@mixin text-subtitle {
  @include font-secondary;
  font-weight: normal;
}

@mixin text-body {
  @include font-text;
  font-size: 1.125rem;
  line-height: 1.75rem;

  @include past($break-small) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@mixin text-sidebar {
  @include font-secondary;
  font-size: $fontSize-3;
  line-height: $lineHeight-4;
}

@mixin text-caption {
  @include font-secondary;
  font-size: $fontSize-3;
  line-height: $lineHeight-4;
  font-weight: normal;
}

@mixin text-attribution {
  @include font-secondary;
  font-size: $fontSize-1;
  line-height: $lineHeight-3;

  @include past($break-small) {
    line-height: $lineHeight-4;
  }
}

@mixin text-inlineQuote {

}

@mixin text-pullquote {
  @include font-primary;
  font-weight: 700;
  font-size: $fontSize-5;

  &:before {
    content: "";
    display: block;
    width: 30%;
    max-width: 200px;
    height: 5px;
    background-color: $color-black;
    margin-bottom: 20px;
  }

  @include past($break-large) {
    font-size: $fontSize-6;
    line-height: $lineHeight-7;
  }
}

@mixin text-citation {
  @include font-secondary;
  font-size: $fontSize-2;
  line-height: $lineHeight-3;
}

@mixin text-superscript {
  @include font-secondary;
  font-size: $fontSize-1;
  text-decoration: none;
  position: relative;
  top: -1em;
  color: $color-purple;
}

@mixin text-bibliography {
  @include font-secondary;
  font-size: $fontSize-3;
  line-height: $lineHeight-4;
}

@mixin post-title {
  @include font-primary;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: $fontSize-6;
  line-height: $lineHeight-6;

  @include past($break-large) {
    font-size: $fontSize-7;
    line-height: $lineHeight-7;
  }
}

@mixin post-subtitle {
  @include font-secondary;
  font-weight: normal;
  margin-top: 10px;
  font-size: $fontSize-3;
  line-height: $lineHeight-4;
}

@mixin post-department {
  @include font-secondary;
  font-size: $fontSize-3;
  text-transform: uppercase;
}

@mixin post-meta {
  @include font-secondary;
  font-size: $fontSize-3;
}
