@import "_fonts";
@import "_variables";

@mixin text-folio {
  @include font-cousine;
  text-transform: uppercase;
  font-size: $fontSize-small;
}

@mixin text-byline {
  @include font-noe;
  font-style: italic;
  font-size: $fontSize-large;

  @include past($break-large) {
    font-size: $fontSize-xlarge;
  }
}

@mixin text-headline {
  @include font-noe;
  font-weight: bold;
  font-size: $fontSize-xlarge;
  line-height: $lineHeight-xlarge;

  @include past($break-large) {
    line-height: $lineHeight-jumbo;
    font-size: $fontSize-jumbo;
  }
}

@mixin text-subtitle {
  @include font-cousine;
}

@mixin text-body {
  @include font-bembo;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: .01rem;

  @include past($break-small) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@mixin text-sidebar {
  @include font-cousine;
  font-size: $fontSize-small;
  line-height: $lineHeight-medium;
}

@mixin text-caption {
  @include font-cousine;
  font-size: $fontSize-small;
  line-height: $lineHeight-medium;
}

@mixin text-attribution {
  @include font-cousine;
  font-size: $fontSize-xsmall;
  line-height: $lineHeight-medium;
}

@mixin text-inlineQuote {

}

@mixin text-pullquote {
  @include font-noe;
  font-weight: 700;
  font-size: $fontSize-large;

  &:before {
    content: "";
    display: block;
    width: 30%;
    max-width: 200px;
    height: 5px;
    background-color: $color-black;
    margin-bottom: 20px;
  }

  @include past($break-large) {
    font-size: $fontSize-larger;
    line-height: $lineHeight-xlarge;
  }
}

@mixin text-citation {
  @include font-cousine;
  font-size: $fontSize-smaller;
  line-height: $lineHeight-small;
}

@mixin text-superscript {
  @include font-cousine;
  font-size: $fontSize-xsmall;
  text-decoration: none;
  position: relative;
  top: -1em;
  color: $color-purple;
}

@mixin post-title {
  @include font-noe;
  font-weight: bold;
  font-size: $fontSize-larger;
  line-height: $lineHeight-larger;
  margin-top: 5px;
  margin-bottom: 0;
}

@mixin post-department {
  @include font-cousine;
  font-size: $fontSize-small;
  text-transform: uppercase;
}

@mixin post-meta {
  @include font-cousine;
  font-size: $fontSize-small;
}
