@import "fonts";

@mixin folio-copy {
  @include Cousine;
  text-transform: uppercase;
  font-size: 9px;
}

@mixin byline-copy {
  @include Noe;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;

  @include past($break-large) {
    font-size: 3rem;
  }
}

@mixin headline-copy {
  @include Noe;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.5rem;

  @include past($break-large) {
    line-height: 4.5rem;
    font-size: 4.5rem;
  }
}

@mixin subtitle-copy {
  @include Cousine;
}

@mixin body-copy {
  @include Bembo;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: .01rem;

  @include past($break-medium) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@mixin sidebar-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;

  @include past($break-large) {
    font-size: 12px;
    line-height: 15px;
  }
}

@mixin caption-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;
}

@mixin attribution-copy {
  @include Cousine;
  font-size: 7px;
  line-height: 12px;
}

@mixin inline-quote-copy {

}

@mixin pullquote-copy {
  @include Noe;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  &:before {
    content: "";
    display: block;
    width: 30%;
    max-width: 200px;
    height: 5px;
    background-color: $color-black;
    margin-bottom: 20px;
  }

  @include past($break-large) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@mixin citation-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;

  @include past($break-large) {
    font-size: 12px;
    line-height: 15px;
  }
}

@mixin superscript {
  @include Cousine;
  font-size: 9px;
  text-decoration: none;
  position: relative;
  top: -1em;
}
