$color-black: #111111;
$color-grey: #95989A;
$color-white: #fbfbfb;
$color-background: #fffbf7;
$color-purple: #861FFC;

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$body-width: 75%;
$gutter-width: 100% - $body-width;

$max-content-width: 990px;
$author-photo-size: 100px;

$fontSize-1: .354rem;
$fontSize-2: .5rem;
$fontSize-3: .707rem;
$fontSize-4: 1.25rem;
$fontSize-5: 1.414rem;
$fontSize-6: 1.999rem;
$fontSize-7: 2.827rem;
$fontSize-8: 3.998rem;
$fontSize-9: 5.653rem;

$lineHeight-1: .354rem;
$lineHeight-2: .5rem;
$lineHeight-3: .707rem;
$lineHeight-4: 1.25rem;
$lineHeight-5: 1.414rem;
$lineHeight-6: 1.999rem;
$lineHeight-7: 2.827rem;
$lineHeight-8: 3.998rem;
$lineHeight-9: 5.653rem;
