$color-black: #111111;
$color-white: #fbfbfb;
$color-background: #fffbf7;
$color-purple: #9100ff;

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$body-width: 75%;
$gutter-width: 100% - $body-width;

$max-content-width: 990px;
$author-photo-size: 100px;

$fontSize-xsmall: .354rem;
$fontSize-smaller: .5rem;
$fontSize-small: .707rem;
$fontSize-medium: 1.25rem;
$fontSize-large: 1.414rem;
$fontSize-larger: 1.999rem;
$fontSize-xlarge: 2.827rem;
$fontSize-jumbo: 3.998rem;

$lineHeight-xsmall: .5rem;
$lineHeight-smaller: .75rem;
$lineHeight-small: 1.125rem;
$lineHeight-medium: 1.25rem;
$lineHeight-large: 1.5rem;
$lineHeight-larger: 2.5rem;
$lineHeight-xlarge: 3rem;
$lineHeight-jumbo: 4.5rem;
