$black: #111111;
$white: #fbfbfb;

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$body-width: 75%;
$gutter-width: 100% - $body-width;

$max-content-width: 990px;
$author-photo-size: 100px;
