@import "reset.scss";

$black: #111111;
$white: #f1f1f1;

$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$body-width: 80%;
$gutter-width: 100% - $body-width;

$max-content-width: 990px;
$author-photo-size: 100px;

@font-face {
  font-family: "Lava";
  src: url("../../assets/fonts/lava-regular.otf") format("otf"),
       url("../../assets/fonts/lava-regular-italic.otf") format("otf"),
       url("../../assets/fonts/lava-heavy.otf") format("otf");
}

@font-face {
  font-family: "Noe Display";
  src: url("../../assets/fonts/noe-display-regular.otf") format("otf"),
       url("../../assets/fonts/noe-display-regular-italic.otf") format("otf"),
       url("../../assets/fonts/noe-display-bold.otf") format("otf"),
       url("../../assets/fonts/noe-display-bold-italic.otf") format("otf");
}

@font-face {
  font-family: "Cousine";
  src: url("../../assets/fonts/cousine-regular.otf") format("otf"),
       url("../../assets/fonts/cousine-italic.otf") format("otf");
}

@mixin Noe {
  font-family: "Noe Display", serif;
}

@mixin Lava {
  font-family: "Lava", Georgia, Cambria, "Times New Roman", Times, serif;
}

@mixin Cousine {
  font-family: "Cousine", "Menlo", monospace;
}

@mixin folio-copy {
  @include Cousine;
  text-transform: uppercase;
  font-size: 9px;
}

@mixin byline-copy {
  @include Noe;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;

  @include past($break-large) {
    font-size: 3rem;
  }
}

@mixin headline-copy {
  @include Noe;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.5rem;

  @include past($break-large) {
    line-height: 4.5rem;
    font-size: 4.5rem;
  }
}

@mixin body-copy {
  @include Lava;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: .01rem;

  @include past($break-medium) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@mixin sidebar-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;

  @include past($break-large) {
    font-size: 12px;
    line-height: 15px;
  }
}

@mixin caption-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;
}

@mixin attribution-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;
}

@mixin inline-quote-copy {

}

@mixin pullquote-copy {
  @include Noe;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  &:before {
    content: "";
    display: block;
    width: 30%;
    max-width: 200px;
    height: 5px;
    background-color: $black;
    margin-bottom: 20px;
  }

  @include past($break-large) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@mixin citation-copy {
  @include Cousine;
  font-size: 9px;
  line-height: 12px;

  @include past($break-large) {
    font-size: 12px;
    line-height: 15px;
  }
}

@mixin superscript {
  @include Cousine;
  font-size: 9px;
  text-decoration: none;
  position: relative;
  top: -1em;
}

@mixin past($media) {
  @media screen and (min-width: $media) {
    @content;
  }
}

@mixin circular-photo($size) {
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;

  img {
    width: auto;
    height: 100%;
    margin-left: -$size/4;
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

.container {
  width: 100%;
}

body {
  background-color: $white;
  margin: 0;
}

a {
  color: $black;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include past($break-medium) {
    width: 70%;
    max-width: $max-content-width;
  }
}

.title {
  @include headline-copy;
  margin-bottom: 20px;

  @include past($break-large) {
    margin-bottom: 60px;
  }
}

.body {
  @include body-copy;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $black;
    margin-bottom: 20px;
  }

  & > p {
    padding-left: 10%;

    @include past($break-medium) {
      padding-left: $gutter-width;
    }
  }
}

.subhead {
  @include Cousine;
  text-transform: uppercase;
  font-size: 16px;

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;

    @include past($break-small) {
      padding-left: $gutter-width;
    }
  }
}

.hero {
  width: 100%;

  @include past($break-small) {
    width: $body-width;
    display: inline-block;
  }
}

.hero, .figure-item {
  img {
    width: 100%;
  }

  .image-attribution {
    display: block;
    margin-top: 4px;
    @include attribution-copy;
    text-align: right;
  }

  .image-caption {
    @include caption-copy;
  }
}
