@import "base.scss";

.footer {
  background-color: $black;
  padding: 40px 20px;
  color: $white;

  .about, .links {
    vertical-align: top;
    display: inline-block;
  }
}

.about {
  @include Lava;
  line-height: 1.5rem;

  img {
    width: 200px;
  }
}

.links {
  div {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding-right: 10px;
  }

  ul {
    @include Cousine;
    font-size: 14px;

    li {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}
