@import "reset.scss";
@import "base.scss";
@import "header.scss";
@import "footer.scss";

.content {
  width: 90%;
  margin-left: 5%;
  @include past($break-small) {

  }
}

.department {
  @include Cousine;
  text-transform: uppercase;
}

.author {
  @include Noe;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;

  &:after {
    content: "—";
  }
}

.title {
  @include Noe;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.5rem;
}

.advisors-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &:after {
    content: "";
    margin-top: 10px;
    border-bottom: .5px solid $black;
    display: block;
    width: 30%;
    max-width: 100px;
  }
}

.advisor {
  @include side-copy;
  display: inline-block;

  &:not(:first-child) {
    margin-left: 10px;
  }

  p {
    margin: 0;
  }
}

.publish-date {
  &:before {
    content: "Published";
    display: block;
  }

  @include side-copy;
  margin-bottom: 20px;
}

.body {
  @include body-copy;

  & > * {
    padding-left: 10%;
  }
}

.subhead {
  @include Cousine;
  text-transform: uppercase;
  font-size: 14px;

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.figure-item {
  width: 100%;

  img {
    width: 100%;
  }

  .image-attribution {
    display: block;
    margin-top: 4px;
    @include attribution-copy;
    text-align: right;
  }

  .image-caption {

  }
}

.pull-left {
  padding-left: 0;
}
