@import "reset.scss";
@import "base.scss";
@import "header.scss";
@import "footer.scss";

.content {
  width: 90%;
  margin-left: 5%;
  @include past($break-small) {

  }
}

.department {
  @include folio-copy;
}

.author {
  @include Noe;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;

  &:after {
    content: "—";
  }
}

.title {
  @include headline-copy;
}

.advisors-container {
  width: 100%;
  margin-bottom: 10px;

  &:after {
    content: "";
    margin-top: 10px;
    border-bottom: .5px solid $black;
    display: block;
    width: 30%;
    max-width: 100px;
  }
}

.advisor {
  @include sidebar-copy;
  display: inline-block;

  &:not(:first-child) {
    margin-left: 10px;
  }

  p {
    margin: 0;
  }
}

.publish-date {
  &:before {
    content: "Published";
    display: block;
  }

  @include sidebar-copy;
  margin-bottom: 20px;
}

.body {
  @include body-copy;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $black;
    margin-bottom: 20px;
  }

  & > * {
    padding-left: 10%;
  }
}

a[href^="http://["] {
  @include superscript;
  pointer-events: none;
  color: $black;
}

.citation {
  @include citation-copy;
}

.subhead {
  @include Cousine;
  text-transform: uppercase;
  font-size: 14px;

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.figure-item {
  width: 100%;

  img {
    width: 100%;
  }

  .image-attribution {
    display: block;
    margin-top: 4px;
    @include attribution-copy;
    text-align: right;
  }

  .image-caption {

  }
}

.inline-quote {
  @include inline-quote-copy;
}

.pullquote {
  @include pullquote-copy;
  margin-left: 0;
}

.sidebar {
  padding-left: 0;
}

$photo-size: 100px;

.bio-container {
  margin-bottom: 50px;
}

.author-headshot {
  display: inline-block;
  position: relative;
  width: $photo-size;
  height: $photo-size;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;

  img {
    width: auto;
    height: 100%;
    margin-left: -$photo-size/4;
  }
}

.author-bio {
  @include sidebar-copy;
  display: inline-block;
  width: 50%;
  margin-left: 20px;
}
