@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.issue {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  max-width: $max-content-width;

  @include past($break-small) {
    padding-top: 150px;
  }
}

.issue-info {
  @include past($break-medium) {
    display: inline-block;
    width: 50%;
    float: right;
    padding-left: 40px;
  }
}

.issue-title {
  text-decoration: none;
  @include font-primary;
  font-size: $fontSize-6;
  margin: 0;
}

.issue-publishDate {
  @include font-secondary;
  font-size: $fontSize-3;
}

.issue-blurb {
  @include font-text;
  font-size: $fontSize-4;
  line-height: $lineHeight-6;
  -webkit-font-smoothing: antialiased;
}

.issue-cover {
  @include past($break-medium) {
    width: 50%;
    display: inline-block;
  }
}

.post-thesis {
  margin: 40px auto;
  clear: both;

  @include past($break-medium) {
    width: 75%;
  }
}

.post-department,
.post-author {
  @include font-secondary;
  font-size: $fontSize-3;
}

.post-department {
  text-transform: uppercase;
}

.post-title {
  @include font-text;
  font-size: $fontSize-4;
}
