@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.splash {
  background-color: $color-black;
  -webkit-font-smoothing: antialiased;
  height: 95vh;
  min-height: 500px;
  width: 100%;
  margin-bottom: 50px;
  background: $color-black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 20%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  @include past($break-medium) {
    min-height: 680px;
    background-size: cover;
    background-position: bottom;
  }
}

.splash-issue {
  @include font-primary;
  color: $color-white;
  padding-top: 80px;
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: normal;
  font-style: italic;
  font-size: $fontSize-4;
  z-index: 2;

  @include past($break-medium) {
    padding-top: 60px;
    font-size: $fontSize-6;
  };
}

.shortcut {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 80px;
  z-index: 2;
}

.circle {
  @include transition(background .2s 0s);
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 100%;
  border: 1px solid $color-white;
  display: inline-block;

  &:hover {
    cursor: pointer;
    background-color: $color-white;
  }
}

.circle.is-shown {
  background-color: $color-white;
}

.splash-link {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  z-index: 2;
}

.splash-link a {
  @include font-secondary;
  font-size: $fontSize-3;
  color: $color-white;
  text-decoration: none;
  text-align: center;
}

.splash-arrow {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  right: -40px;
  top: -10px;
}

.splash-arrow polygon {
  fill: $color-white;
}

.splash-overlay {
  @include transition(opacity .2s 0s);
  background-color: $color-black;
  position: absolute;
  opacity: .8;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.splash-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 95vh;
}

.feature {
  @include transition(opacity .2s 0s);
  margin: 0 auto;
  opacity: 0;
  width: 90%;
  display: none;
  @include anim--fadeOutOnce300;
}

.feature.is-shown {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  @include anim--fadeInOnce300;
}

.feature.is-active .feature-department,
.feature.is-active .feature-title,
.feature.is-active .feature-author {
  opacity: .1;
}

.feature.is-active .splash-overlay {
  opacity: 0;
}

.feature-image {
  position: absolute;
  width: 100%;
  top: 30vh;
  left: 0;

  @include past($break-medium) {
    top: 10vh;
  }
}

.feature-image img {
  max-height: 100vh;
  max-width: none;
  margin: 0 auto;
  display: block;

  @include past($break-medium) {
    max-height: 80vh;
    min-height: 580px;
  }
}

.feature-department {
  text-transform: uppercase;
}

.feature-department,
.feature-author {
  @include font-secondary;
  font-size: $fontSize-3;
  margin: 32px 0;
  flex-basis: 100%;
}

.feature-department,
.feature-title,
.feature-author {
  @include transition(opacity .2s 0s);
  opacity: 1;
  color: $color-white;
  text-align: center;
  z-index: 2;
  position: relative;
}

.feature-title {
  @include font-primary;
  font-size: $fontSize-5;
  line-height: $lineHeight-5;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  margin: 0 auto;

  @include past($break-xsmall) {
    font-size: $fontSize-6;
    line-height: $lineHeight-6;
  }

  @include past($break-small) {
    font-size: $fontSize-7;
    line-height: $lineHeight-7;
  }

  @include past($break-large) {
    font-size: $fontSize-8;
    line-height: $lineHeight-8;
  }

  @include past($break-xlarge) {
    font-size: $fontSize-9;
    line-height: $lineHeight-9;
  }
}

.feed {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 10%;

  @include past($break-small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
