@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.splash {
  background-color: $color-black;
  height: 100vh;
  padding-top: 100px;
}

.splash-link {
  @include font-secondary;
  color: $color-white;
  position: absolute;
  text-decoration: none;
}

.splash-arrow {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  right: -40px;
  top: -10px;

  polygon {
    fill: $color-white;
  }
}

.features {
  width: 80%;
  padding-top: 50px;
  padding-left: 15%;
}

.feature-department {
  @include font-primary;
  text-decoration: none;
  font-size: $fontSize-larger;
  line-height: $lineHeight-larger;
  color: $color-white;
  display: block;
  margin-bottom: 20px;
}

.feed {
  width: 100%;
  padding: 0 20px;

  @include past($break-small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 8%;
  }
}
