@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.splash {
  background-color: $color-black;
  -webkit-font-smoothing: antialiased;
  height: 95vh;
  margin-bottom: 50px;
  background: $color-black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 20%;
  overflow-y: hidden;
  position: relative;

  @include past($break-medium) {
    background-size: cover;
    background-position: bottom;
  }
}

.splash-issue {
  @include font-primary;
  color: $color-white;
  padding-top: 100px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-size: $fontSize-6;
  z-index: 2;
  position: relative;

  @include past($break-medium) {
    padding-top: 60px;
  };
}

.splash-link {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  z-index: 2;
}

.splash-link a {
  @include font-secondary;
  color: $color-white;
  text-decoration: none;
  text-align: center;
}

.splash-arrow {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  right: -40px;
  top: -10px;

  polygon {
    fill: $color-white;
  }
}

.splash-overlay {
  @include transition(all .2s 0s);
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  position: absolute;
  opacity: .8;
  z-index: 1;
  top: 0;
  left: 0;
}

.feature {
  @include transition(opacity .2s 0s);
  margin: 0 auto;
  display: none;
  opacity: 0;
  width: 90%;

  @include past($break-medium) {
    width: 80%;
  }

  @include past($break-xlarge) {
    width: 50%;
  }
}

.feature.is-shown {
  display: inherit;
  opacity: 1;
}

.feature.is-active {
  .feature-department,
  .feature-title,
  .feature-author {
    opacity: .1;
  }

  .splash-overlay {
    opacity: 0;
  }
}

.feature-image {
  position: absolute;
  width: 100%;
  top: 5vh;
  left: 0;
}

.feature-image img {
  max-height: 100vh;
  margin: 0 auto;
  display: block;

  @include past($break-medium) {
    max-height: 80vh;
  }
}

.feature-department {
  text-transform: uppercase;
}

.feature-department,
.feature-author {
  @include font-secondary;
  font-size: $fontSize-3;
  margin: 32px 0;
}

.feature-department,
.feature-title,
.feature-author {
  @include transition(opacity .2s 0s);
  opacity: 1;
  color: $color-white;
  text-align: center;
  z-index: 2;
  position: relative;
}

.feature-title {
  @include font-primary;
  font-size: $fontSize-7;
  line-height: $lineHeight-7;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  margin: 0 auto;

  @include past($break-medium) {
    font-size: $fontSize-8;
    line-height: $lineHeight-8;
  }

  @include past($break-large) {
    font-size: $fontSize-9;
    line-height: $lineHeight-9;
  }
}

.feed {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 10%;

  @include past($break-small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
