@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.page {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  max-width: $max-content-width;

  @include past($break-small) {
    padding-top: 150px;
  }
}

.page-title {
  @include font-primary;
  font-size: $fontSize-6;
  line-height: $lineHeight-6;
  font-weight: normal;

  @include past($break-small) {
    font-size: $fontSize-7;
    line-height: $lineHeight-7;
  }
}

.page-description {
  display: block;
  -webkit-font-smoothing: antialiased;

  @include past($break-medium) {
    width: 80%;
    margin-left: 5%;
  }
}

.page-description h1 {
  @include font-secondary;
  font-size: $fontSize-4;
  font-weight: normal;
}

.page-description p,
.page-description li {
  @include font-text;
  font-size: $fontSize-5;
  line-height: $lineHeight-6;
}

.page-description ol,
.page-description ul {
  list-style: initial;
  padding-left: 40px;
}
