@import "../_base";
@import "../components/landing/_post";
@import "../components/_header";
@import "../components/_footer";
@import "../components/_arrow";

.page {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  max-width: $max-content-width;

  @include past($break-small) {
    padding-top: 150px;
  }
}

.page-title {
  @include font-primary;
  font-size: $fontSize-6;
  line-height: $lineHeight-6;
  font-weight: normal;

  @include past($break-small) {
    font-size: $fontSize-7;
    line-height: $lineHeight-7;
  }
}

.page-description {
  @include font-text;
  font-size: $fontSize-5;

  @include past($break-medium) {
    width: 80%;
    margin-left: 5%;
  }
}
