@import "../_base";
@import "../components/thesis/_meta-container";
@import "../components/thesis/_copy";
@import "../components/thesis/_bio-container";
@import "../components/header";
@import "../components/footer";

.department {
  @include folio-copy;
}

.author {
  @include byline-copy;

  &:after {
    content: " —";
  }
}

.pullquote {
  @include pullquote-copy;
  margin-left: 0;
  display: inline-block;

  @include past($break-medium) {
    max-width: 600px;
  }
}

a[href^="http://["] {
  @include superscript;
  pointer-events: none;
  color: $black;
  line-height: 0;
}
